body{
    font-size:1.25em;
    margin-left: 10px;
    margin-right: 10px;
}
h2{
    margin-top: 0px;
}
article{
    border:solid 1px;
    margin-bottom: 10px;
    min-height: 280px;
}
article img{
    margin-right: 10px;
    margin-left: 10px;
}
article:nth-child(odd) img{
    float: left;

}

article:nth-child(even) img{
    float: right;

}
