body{
    background-color: silver;
    margin: 0px;
    padding: 0px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

nav{
    background-color: white;
    width: 20%;
    float: left;
    height: 200px;

}
section#midden{
    float:left;
    background-color:Maroon;
    width:80%;
    height:200px;
    padding: 10px;
    border: 2px solid black;
    box-sizing: border-box;
}
header img{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

footer{
    clear: both;
    text-align: center;
    background-color: #73AD21;
    height: 120px;
}
nav a {
    text-decoration: none
}
nav li{
    list-style:none;
}
.breedte{
    width: 400px;
    background-color: green;
    margin: 20px;
    padding: 20px;
}
/*section>p{*/
/*    background-color: darkred;*/
/*    margin-left: 3px;*/
/*    width: 75%;*/
/*}*/