body{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    padding: 0px;
    width: 95%;
    font-family:Arial, Helvetica, sans-serif
}
#top{
    height:200px;
    text-align:center;
    background:url("../images/bgsky3.jpg") no-repeat;
    position: relative;
    color:darkblue;
    background-size: cover;/*zorgt voor responsive design!*/
}

#driehonderd{
    font-size: 300%;
    font-weight: bold;
    font-style: italic;
}
#tweehonderd{
    font-size: 240%;
    font-weight: bold;
    font-style: italic;
}
header img{
    position: absolute;
    top: 60px;
    right: 250px;
}
#news{
    float:right;
    width: 25%;
    background-color: #dddddd;
    border: solid 1px #999999;
}
#news h3{
    font-size: 120%;
    text-align: center;
    color:#FFFFFF;
    background-color: blue;
}
#logo{
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
main{
    width: 75%;
}
main>article{
    margin-right: 10px;
}
main>article>p{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 30px;
}
main>article>p>span{
    font-weight: bold;
    color:blue;
    font-style: italic;
}
.foto{
    height: 180px;
    width: 180px;
    border: dashed 1px #FFFFFF;
    display: inline-block;
    background-color: #999999;
    padding: 20px;
}
.foto img{
    border: solid 10px #FFFFFF;
}
#fotocollectie {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    background-color: #999999;


}

