body{
    margin: 0px;
    background-color: #EDF2F4;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

header h1 {
    margin: 0px;
    color: red
}
header {
    height:800px;
    background-image: url('../images/header2.jpg');
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    background-size: cover;
}
